* {
    margin: 5px;
    font-size: 22px;
    background-color: var(--beige);
   
      
}

:root{
    --dark: #192231;
    --green: #404A42;
    --sand: #c0b283;
    --beige: #eddbcd;
    --white: #f4f4f4;
}

nav {
    background-color: var(--green);
    border-radius: 5px 5px 5px 5px;
    color: #eddbcd;
}


input{
    border-color: #192231;
    width: 30%;
    color: var(--dark);
    justify-content: center;
}

form {
    border: 5px solid var(--dark);

    
}

.flex-row {
    flex: auto;
    display: flex;
    flex-direction: row;

    margin: 25px;
}

.flex-column {
    flex: auto;
    display: flex;
    flex-direction: column;
    margin: 25px;
}

.btn1{
    width: 90px;
}

.align-right {
    justify-content: right;
}

.align-Left {
    justify-content: left;
}

.align-center {
    justify-content: center;
}



.listy {
    text-decoration: none;

}

.bg-color {
    background-color: var(--green);
}

.sec-1 {
    margin: 18px;
}

.quote {
    width: 100%;
    font-size: 40px;
}

.folio{
    text-align: center;
}

.bio {
    text-align: center;
    vertical-align: middle;
    margin-top: 20px;
}

.add-margin {
    margin: 60px;
}



.cards {
    height: 400px;
    justify-content: space-around;
}

.card {
    width: 20%;
    background-color: var(--green);
    border-radius: 7px 7px 7px 7px;
    flex: 0 0 300px;
    flex-wrap: wrap;

}

.disappear:hover {
    opacity: 1;
    animation-name: card-hover;
    animation-duration: 2s;
    animation-fill-mode:forwards;
  }

 


.text-bright{
    color: var(--beige);

}
.projCard {
    height: 48px;
    border-radius: 7px 7px 7px 7px;
    color:#f4f4f4;
    font-weight: bold;
}

.card-text {
    font-size: 18;
    color: var(--green);
    margin: 0;
    text-align: center;
    text-decoration: none;
}

.card-text2 {
    font-size: 22;
    color: var(--dark);
    margin: 0;
    text-align: center;
    text-decoration: none;
    }

    .no-margin{
        margin: 0px;
    }

  .move-down{
    margin-bottom: -40%;
    color: #f4f4f4;
  }

#cardimg {
    width: 100%;
    height: 80%;
    margin:0px;
    border-radius: 7px 7px 7px 7px;
}

#img {
    border-radius: 10px 0px 0px 10px;
 
}

#namely {
    font-weight: bold;

}



#quote-div {
    opacity: 0;
    animation-name: quote-load;
    animation-duration: 5s;
    animation-fill-mode:forwards;
  }

  quote-div:nth-child(1){animation-delay:0s}
  quote-div:nth-child(2){animation-delay:0.0s}
  quote-div:nth-child(3){animation-delay:0.3s}
  quote-div:nth-child(4){animation-delay:0.6s}
  quote-div:nth-child(5){animation-delay:0.8s}
  quote-div:nth-child(6){animation-delay:1s}

@keyframes quote-load {
    0%{opacity: 0}
    100%{opacity:1}
  }

#bio {
    opacity: 0;
    animation-name: bio-load;
    animation-duration: 10s;
    animation-fill-mode:forwards;
  }

quote-div:nth-child(1){animation-delay:0s}
quote-div:nth-child(2){animation-delay:0.0s}
quote-div:nth-child(3){animation-delay:0.3s}
quote-div:nth-child(4){animation-delay:0.6s}
quote-div:nth-child(5){animation-delay:0.8s}
quote-div:nth-child(6){animation-delay:1s}

@keyframes bio-load {
    0%{opacity: 0}
    100%{opacity:1}
  }

  
  card-hover:nth-child(1){animation-delay:0s}
  card-hover:nth-child(1){animation-delay:.2s}
  card-hover:nth-child(1){animation-delay:.4s}
  card-hover:nth-child(1){animation-delay:.6s}
  card-hover:nth-child(1){animation-delay:.8s}
  card-hover:nth-child(1){animation-delay:1s}
 

@keyframes card-hover {
    0%{opacity: 1}
    100%{opacity:0}
  }