* {
    margin: 5px;
    font-size: 22px;
    background-color: var(--beige);
   
      
}

:root{
    --dark: #192231;
    --green: #404A42;
    --sand: #c0b283;
    --beige: #eddbcd;
    --white: #f4f4f4;
}

nav {
    background-color: var(--green);
    border-radius: 5px 5px 5px 5px;
    color: #eddbcd;
}



.input{
    width:40%;
    color: aqua;
}

.flex-row {
    flex: auto;
    display: flex;
    flex-direction: row;
    margin: 25px;
}

.flex-column {
    flex: auto;
    display: flex;
    flex-direction: column;
    margin: 25px;
}

.btn1{
    width: 90px;
}

.align-right {
    justify-content: right;
}

.align-Left {
    justify-content: left;
}

.align-center {
    justify-content: center;
}



.listy {
    text-decoration: none;

}

.bg-color {
    background-color: var(--green);
}

.sec-1 {
    margin: 18px;
}

.quote {
    width: 100%;
    font-size: 40px;
}

.bio {
    text-align: center;
    vertical-align: middle;
    margin-top: 20px;
}

.add-margin {
    margin: 60px;
}

.cards {
    height: 400px;
    justify-content: space-around;
}

.card {
    width: 20%;
    background-color: var(--green);
    border-radius: 7px 7px 0px 0px;

}

.card:hover {
    box-shadow: 0px 0px 8px 10px rgb(27, 27, 46);
   
}

.text-bright{
    color: var(--beige);

}
.projCard {
    background-color: aliceblue;
    vertical-align: middle;
    height: 48px;
    border-radius: 7px 7px 7px 7px;
}

.card-text {
    font-size: 18;
    color:white;
    margin: 0;
    text-align: center;
    text-decoration: none;
}

.card-text2 {
    font-size: 22;
    color: var(--dark);
    margin: 0;
    text-align: center;
    text-decoration: none;
    }

#cardimg {
    width: 100%;
    height: 50%;
    margin:0px;
    border-radius: 7px 7px 7px 7px;
}

#img {
    border-radius: 10px 0px 0px 10px;
 
}

#namely {
    font-weight: bold;

}



#quote-div {
    opacity: 0;
    animation-name: quote-load;
    animation-duration: 5s;
    animation-fill-mode:forwards;
  }

  quote-div:nth-child(1){animation-delay:0s}
  quote-div:nth-child(2){animation-delay:0.0s}
  quote-div:nth-child(3){animation-delay:0.3s}
  quote-div:nth-child(4){animation-delay:0.6s}
  quote-div:nth-child(5){animation-delay:0.8s}
  quote-div:nth-child(6){animation-delay:1s}

@keyframes quote-load {
    0%{opacity: 0}
    100%{opacity:1}
  }

#bio {
    opacity: 0;
    animation-name: bio-load;
    animation-duration: 10s;
    animation-fill-mode:forwards;
  }

quote-div:nth-child(1){animation-delay:0s}
quote-div:nth-child(2){animation-delay:0.0s}
quote-div:nth-child(3){animation-delay:0.3s}
quote-div:nth-child(4){animation-delay:0.6s}
quote-div:nth-child(5){animation-delay:0.8s}
quote-div:nth-child(6){animation-delay:1s}

@keyframes bio-load {
    0%{opacity: 0}
    100%{opacity:1}
  }
